.header {
	background: $color-black;
	padding: 25px;
	.header__heading {
		color: $color-white;
		text-align: center;
		margin: 0;
		width: 100%;
		height: 45px;
		background: url('../bookatable-by-michelin-logo.svg') no-repeat;

		@media screen and (min-width: 768px) {
	    text-align: left
	  }
	}
}
