.panel {
	border: 2px solid $color-black;
	padding: 25px;
	background: $color-white;
	position: relative;

	.panel__close {
		position: absolute;
		top: 7px;
		right: 7px;

		&:before {
			content: "";
	    display: block;
	    background: url('../close.svg') no-repeat;
	    width: 15px;
	    height: 15px;
		}
	}

	.panel__item {
		margin-bottom: 40px;
		width: 100%;

		h2 {
			margin-bottom: 15px;
		}

		label {
			display: block;
		}
		input {
			margin: 0 10px 10px 0;
		}
	}
}


