table {
	width: 100%;
}

th, td {
	padding: 10px 10px;
	border: 1px solid $color-black;
}

tr {
	&:hover {
		background-color: #dddddd;
	}

	&.booking__cancelled {
		td {
		  color: red;  /* colour of underline */
		  text-decoration: line-through;
		}

		p {
		  color: black; /* original colour of p */
		}
	}

	&.booking__row--active {
		background: #dddddd;
	}
}

th {
	text-align: left;
	background: #a5a5a5
}

td {
	cursor: pointer;
}

